---
// export interface Props {
//  title: string
//  body: string
//  foo: string
// }
const { title, body, type, tools, year, images } = Astro.props
---

<div class="PortfolioDetail">
  <main class="inner">
    <h1>{title}</h1>
    <ul>
      <li>{type}</li>
      <li>{tools}</li>
      <li>{year}</li>
    </ul>
    <div set:html={body} />
    {images.map(image => (
      <picture>
        {image.mobile && (
          <source
            srcset={image.mobile.url}
            media="(max-width: 576px)"
            height={image.mobile.height}
            width={image.mobile.width} />
        )}
        <img
          loading="lazy"
          src={image.url}
          alt={image.alt}
          height={image.height}
          width={image.width} />
      </picture>
    ))}
  </main>
</div>

<style lang="sass">
  @import'../style/base'

  .PortfolioDetail
    background: $color-fg
    max-width: $max-width
    margin: 0 auto
    padding: 20px

  .inner
    margin: 0 auto
    max-width: 900px

  ul
    list-style: none
    padding: 0

  picture
    display: block
    margin-top: 40px

  img
    width: 100%
    border-radius: 12px
    box-shadow: 0 0 60px rgba($color-href, 0.08)
    height: auto
    background: darken($color-bg, 2%)
</style>
