---
import 'normalize.css'
import Fonts from '@components/Fonts/Fonts.astro'
import Header from '@components/Header/Header.astro'
import Modal from '@components/Modal/Modal'
import Footer from '@components/Footer/Footer.astro'

export interface Props {
  title: string
  description: string
  lockedHeader?: boolean
}

const { title, description, lockedHeader } = Astro.props
const { href } = Astro.url
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="48x48"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:image" content="https://ik.imagekit.io/garethweaver/ogimage.jpg"/>
    <meta property="og:url" content={href}/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content={title}/>
    <meta property="og:description" content={description}/>
    <link rel="preconnect" href="https://ik.imagekit.io" />
    <Fonts />
  </head>
  <body>
    <Header lockedHeader={lockedHeader} />
    <main>
      <slot />
    </main>
    <Footer />
    <Modal client:idle />
  </body>
</html>

<style lang="sass" is:global>
  @import'../style/base'
  @import'../style/variables'

  *
    box-sizing: border-box
    -webkit-tap-highlight-color: rgba(var(--color-highlight-rgb), 0.5)
    &:focus
      outline: 1px solid rgba(255, 255, 255, 0.5)

  html
    font-size: 18px
    +media-up(lg)
      font-size: 22px

  *::selection
    background: rgba(var(--color-highlight-rgb), 0.9)
    color: black

  body
    background: var(--color-bg)
    color: #ffffff
    font-family: var(--font-family-body)
    font-weight: 300
    padding: 0 1em
    min-width: 330px
    +media-up(md)
      padding: 0 2em

  main
    +media-up(md)
      padding-top: 2em

  h1, h2, h3, h4, h5, h6
    font-family: var(--font-family-heading)
    font-weight: 800

  a
    color: var(--color-href)
    font-family: var(--font-family-heading)
    text-decoration: none

  .no-scroll
    overflow: hidden
</style>
